body, html {
    height: 100%;
}

.nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
}

body {
    background: linear-gradient( gray, white);
}

.nav a:hover {
    background-color: #ddd;
    color:black;
}

.topnav a.active {
    background-color: #04AA6D;
    color:white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    flex: 1;
    margin: 2px;
    padding: 5px;
}  

#bio-image{
    max-height: 300px;
    max-width: auto;
    padding: 4px;
}
.bio {
    margin-right: 20px;
    text-align: center;
    padding: 3px;
} 

.bio-text {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.bio-button {
    background-color: rgb(170, 164, 164);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 12px;
}

.bio-button:hover {
    background-color:  rgb(170, 164, 164);
    color: white;
}

